watch_file pyproject.toml uv.lock
watch_file apps/tui/package-lock.json apps/tui/package.json
watch_file flake.nix flake.lock infra/nix/devShell.nix infra/nix/tui.nix infra/nix/packages.nix infra/nix/python.nix

use flake
